.container {
  margin-bottom: 16px;
}

.highlightRow {
  background-color: #e6f7ff;
}

.highlightRow:hover > td {
  background-color: #bae7ff !important;
}

.highlightValue {
  color: #1890ff;
  font-size: 16px;
}

.subtotalRow {
  background-color: #fafafa;
}

.subtotalRow:hover > td {
  background-color: #f0f0f0 !important;
}
